# SERVER
PORT=3000
NODE_ENV=development

# DATABASE PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_NAME=blockchain_academic
DB_USER=postgres
DB_PASSWORD=your_db_password_here

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h

# HYPERLEDGER FABRIC (isi nanti setelah setup Fabric)
# FABRIC_MSP_ID=AcademicMSP
# FABRIC_PEER_ENDPOINT=localhost:7051
# FABRIC_CHANNEL_NAME=academicchannel
# FABRIC_CHAINCODE_NAME=academiccc

# AKTIF PLATFORM
# ACTIVE_BLOCKCHAIN=ethereum
ACTIVE_BLOCKCHAIN=fabric
CONTRACT_ADDRESS=your_deployed_contract_address

FABRIC_PEER_ENDPOINT=your_fabric_peer_host:7051
FABRIC_PEER_HOST_ALIAS=peer0.org1.example.com
FABRIC_CHANNEL_NAME=academicchannel
FABRIC_CHAINCODE_NAME=academic
WSL_USER=your_server_user